<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sesoc.global.escape.dao.AppDAO">

	<select id="app_login" parameterType="User" resultType="User">
		SELECT id, pw FROM users
		WHERE id = #{id} AND pw = #{pw}
	</select>
	
	<select id="app_getClearRecode" parameterType="User" resultType="ClearRecode">
		select p.user_id id
			, m.title maptitle
			, m.titleimg mapTitleImg
			, p.playtime clearTime
			, m.star star
		from playrecord p, map m
		where p.user_id = #{id}
		and p.map_no = m.no
	</select>

	<select id="app_userProfile" parameterType="User" resultType="string">
		SELECT profile 
		FROM users
		WHERE id = #{id}
	</select>
	
	<select id="app_getDirectMessage" parameterType="User" resultType="DirectMessage">
		select 
			num,
			writer,
			content,
			inputdate "date",
			ischecked
		from directmessage
		where user_id = #{id}
	</select>
	
	
	<update id = "app_checkDM" parameterType="DirectMessage">
		update directmessage
		set isChecked = 'true'
		where num = #{num}
	</update>
	
	
	<insert id="app_sendDM" parameterType="DirectMessage">
		insert into directmessage 
		(num, user_id, writer, content, inputdate, ischecked)
		values
		(dm_seq.nextval, #{user_id}, #{writer}, #{content}, SYSDATE, 'false')
	</insert>

	<select id="app_getTacticsData" resultType="Tactics">
		SELECT * FROM tacticsdata
	</select>
	
	<select id="app_getMapInfo" resultType="RoomMap">
		SELECT user_id, title, titleimg, inputdate FROM map
	</select>
</mapper>